{% extends 'main/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}
{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->

{% block content %}
<div class="container">
    <h1>Categorías</h1>
    
    <!-- Formulario para crear una nueva categoría -->
    <form method="post" action="{% url 'main:crear_categoria' %}">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required></textarea>
        <button type="submit">Crear Categoría</button>
    </form>

    <!-- Lista de categorías existentes -->
    <ul>
        {% for categoria in categorias %}
            <li>{{ categoria.nombre }} - {{ categoria.descripcion }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
